<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('base') %>
    <title>Change Password</title>
</head>
<body>
    <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-title" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert-title"><%= (serverAlert) ? serverAlert.title : "" %></h5>
                </div>
                <div class="modal-body" id="alert-body"><%= (serverAlert) ? serverAlert.body : "" %></div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" id="confirm-alert">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-25 m-3">
        <input type="text" name="password" id="password" class="form-control mb-2" placeholder="New password">
        <input type="text" id="confirm-pass" class="form-control mb-4" placeholder="Confirm new password">
        <button type="button" id="submit" class="btn btn-primary">Confirm</button>
    </div>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
    <script src="/lib/password-validation.min.js"></script>
    <script src="/lib/themed-alert.min.js"></script>
    <script>
        const alertModal = new ThemedAlert(new mdb.Modal($("#alert-modal")), "alert-modal");
        initValidatePassword(alertModal);
        // don't mind the lint warnings, it can't recognize ejs syntax
        <% if (serverAlert && Object.values(serverAlert).length >= 3) { %>
            let message = <%- JSON.stringify(serverAlert) %>;
            if (message) {
                switch (message.mode) {
                    case 0:
                        $("#alert-title").addClass("text-danger");
                        break;
                    case 1:
                        $("#alert-title").addClass("text-success");
                        break;
                    case 2:
                        $("#alert-title").addClass("text-warning");
                        break;
                    case 3:
                        $("#alert-title").addClass("text-info");
                        break;
                }
                alertModal.show();
            }
        <% } %>

        $("#submit").click((event) => {
            const isValid = $(event.currentTarget).data("validPassword");
            if (isValid) {
                $.post("/help/change-password", { password: $("#password").val() },
                    (data) => location.replace(data.redirect)
                ).fail(() => location.reload());
            }
        })
    </script>
</body>
</html>