<html>
    <style>
        body { text-align: center; }
        a {
            background-color: #86ea79;
            padding: 8px 20px;
            border-radius: 3px;
        }
    </style>
    <body>
        <h4>Hi! Here is your OTP to activate your class timetable account.</h4>
        <h2><%= otp %></h2>
        <p>Access the verification portal and enter the pin.</p>
        <a href="http://localhost:<%- port %>/help/account?helpID=<%- helpID %>">Verification Portal</a>
        <p>Reminder: The OTP and verification portal is only valid for 7 days</p>
    </body>
</html>