<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('base') %>
    <title>Help Class Scheduling System</title>

</head>
<body>
    <h1>What can we help you with?</h1>
    <form action="/help" method="get">
        <input type="text" name="helpID">
        <input type="submit">
    </form>
</body>
</html>