<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('base') %>
        <title>OTP Verification</title>
</head>

<body>
    <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-title" aria-hidden="true"
    data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert-title">title</h5>
                </div>
                <div class="modal-body" id="alert-body">message here...</div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Enter OTP we sent to your e-mail</h1>
    <input type="text" id="pin">
    <button type="button" class="btn btn-primary" id="submit">Confirm</button>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
    <script>
        let eAlert = $("#alert-modal");
        const alertModal = new mdb.Modal(eAlert);
        let url = "/help/" + "<%- subHelp %>";
        console.log();
        $("#submit").click((event) => {
            $.post(url, { pin: $("#pin").val() }, (data) => {
                $("#alert-title").text(data.title);
                $("#alert-body").html(data.body);
                if (data.goto) {
                    window.location.href = "http://localhost:3000" + data.goto;
                }

                if (data.mode == 0) {
                    $("#alert-title").addClass("text-danger");
                    $("#alert-title").removeClass("text-warning");
                    let footer = $(eAlert).find("div.modal-footer");
                    let first = $(footer).children().get(0);
                    first.textContent = "No";
                    $(first).toggleClass("btn-secondary btn-danger");
                    $(footer).append(
                        '<form action="/help/resend-otp" method="POST">' +
                            '<button type="submit" class="btn btn-secondary" name="resend" value="1">Yes</button>' +
                        '</form>'
                    );
                    alertModal.show();
                } else if (data.mode == 2) {
                    $("#alert-title").addClass("text-warning");
                    alertModal.show();
                }
            });
        });
        
    </script>
</body>

</html>