<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('base') %>
    <title>OTP Verification</title>
    <script src="/lib/themed-alert.js"></script>
</head>

<body>
    <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-title" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert-title">title</h5>
                </div>
                <div class="modal-body" id="alert-body">message here...</div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" id="confirm-alert">OK</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Enter OTP we sent to your e-mail</h1>
    <form action="forget-password" method="post">
        <input type="text" id="pin" maxlength="6" name="pin" class="text-uppercase">
        <button type="submit" class="btn btn-primary" id="submit">Confirm</button>
    </form>
    <!-- MDB -->
</body>

</html>
