<html>
    <style>
        body { text-align: center; }
        a {
            background-color: #86ea79;
            padding: 8px 20px;
            border-radius: 3px;
        }
    </style>
    <body>
        <h4><%- message %></h4>
        <h2><%= otp %></h2>
        <p>Reminder: The One-Time-Pin is only valid for 7 days</p>
    </body>
</html>