<html>
    <style>
        body { text-align: center; }
        a {
            background-color: #86ea79;
            padding: 8px 20px;
            border-radius: 3px;
        }
    </style>
    <body>
        <h4>Hi! You can now login to your class timetable account. Here's is your password.</h4>
        <h2><%= password %></h2>
        <p>Use your e-mail and the password we gave you</p>
        <a href="http://localhost:<%- port %>/login">Login now</a>
    </body>
</html>