<div class="bg-light task-view" id="blocks-view">
    <div class="side-panel">
        <div class="d-flex justify-content-between mx-4">
            <h4>Courses</h4>
            <div>
                <a type="button"><i class="fas fa-sort-alpha-up-alt"></i></a>
                <a type="button"><i class="fas fa-search ms-2"></i></a>
            </div>
        </div>
        <hr>
        <div class="mx-3 panel-body">
            <% if (data.courses.length > 0) { %>
                <ul class="list-group panel-menu">
                    <% for (const course of data.courses) { %>
                        <button type="button" class="list-group-item list-group-item-action menu-item"
                            title="<%= course.name %>" id="<%= course.id %>">
                            <p class="text-truncate m-0">
                                <%= course.name %>
                            </p>
                        </button>
                        <% } %>
                </ul>
            <% } else { %>
                <p class="text-muted text-center">No Courses</p>
            <% } %>
        </div>
    </div>
    <div class="bg-white px-5 pt-4">
        Course Curriculum goes here.
    </div>
</div>