<div class="bg-light task-view" id="faculty-view">
    <div class="px-5 pt-4">
        <h2 style="color: #8673b4;" id="table-title">Faculty in <%= data.department.name %> Department</h2>
        <br>
        <button class="btn btn-primary btn-rounded" data-cts-toggle="table" data-cts-target="#faculty-table">
            <i class="fas fa-edit fa-lg me-2"></i>edit table</button>
        <button class="btn btn-success btn-rounded" data-cts-dismiss="table" data-cts-target="#faculty-table"
            aria-hidden="true">save changes</button>
        <table class="table table-bordered table-sm fw-bold my-4" id="faculty-table">
            <thead class="text-center">
                <tr>
                    <th table-cts-column="faculty_id text" style="width: 140px;">ID</th>
                    <th table-cts-column="status text" style="width: 140px;">Employment Status</th>
                    <th table-cts-column="teach_load number" style="width: 90px;">Teach<br>Load</th>
                    <th table-cts-column="last_name text">Surname</th>
                    <th table-cts-column="first_name text">First Name</th>
                    <th table-cts-column="middle_name text">Middle Name</th>
                    <th table-cts-column="email text" style="width: 280px;">E-mail</th>
                    <td table-cts-column="edit">Action</td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr class="add-data">
                    <td><input type="text" class="form-control add-td-input unique"></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle add-td-input" type="button"
                                data-mdb-toggle="dropdown" aria-expanded="false">Status</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" role="button">full-time</a></li>
                                <li><a class="dropdown-item" role="button">part-time</a></li>
                            </ul>
                        </div>
                    </td>
                    <td><input type="number" class="form-control add-td-input text-center"></td>
                    <td><input type="text" class="form-control add-td-input" placeholder="Dela Cruz"></td>
                    <td><input type="text" class="form-control add-td-input" placeholder="Juan"></td>
                    <td><input type="text" class="form-control add-td-input" placeholder="Antonio"></td>
                    <td><input type="email" class="form-control add-td-input unique" placeholder="jadelacruz@school.edu.ph"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="/lib/responsive-table.js"></script>
<!-- reuse faculty api calls -->
<script src="/lib/api/admin-root.js"></script>
<script>
    const deptID = "<%= data.department.id %>";
    const facultyTable = new EditableTable("#faculty-table");
    facultyTable.initData(getFaculty(deptID), true);
    $(facultyTable.addBtn).click(async (event) => {
        try {
            let addedData = await $(event.currentTarget).data("newRow");
            if (addedData) { await addFaculty(deptID, addedData); }
        } catch (error) {
            console.error(error);
            const {redirect, message} = error.responseJSON;
            if (redirect) {
                location.replace(redirect);
            }
            alertModal.show(...Object.values(message));
            $(`${facultyTable.body}:last-child`).remove();
            facultyTable.data.pop();
        }
        $(event.currentTarget).removeData("newRow");
    });
</script>