<div class="bg-light task-view p-4 text-center" id="profile-view">
    <h4 style="color: #8673b4;">Welcome, chairperson!</h4>
    <p>The chairperson handles course curriculum, faculty load, and class scheduling data.</p>
</div>