<div class="bg-light task-view" id="subjects-view">
    <div class="side-panel">
        <div class="d-flex mx-4 justify-content-between">
            <h4>Colleges</h4>
            <div>
                <a type="button"><i class="fas fa-sort-alpha-up-alt"></i></a>
                <a type="button"><i class="fas fa-search ms-2"></i></a>
            </div>
        </div>
        <hr>
        <div class="overflow-scroll mx-3">
            <ul class="list-group panel-menu">
                <% for (const college of data.colleges) { %>
                    <button type="button" class="list-group-item list-group-item-action menu-item"
                        title="<%= college.name %>" id="<%= college.id %>">
                        <p class="text-truncate m-0">
                            <%= college.name %>
                        </p>
                    </button>
                    <% } %>
            </ul>
        </div>
    </div>
    <div class="shadow-3 bg-white px-5 pt-4" style="padding-bottom: 50vh;">
        <h2 style="color: #8673b4;" class="table-title">
            <%= data.colleges[0].name %>
        </h2>
        <br>
        <button class="btn btn-primary btn-rounded" data-cts-toggle="table" data-cts-target="#subjects-table">
            <i class="fas fa-edit fa-lg me-2"></i>edit table</button>
        <button class="btn btn-success btn-rounded" data-cts-dismiss="table" data-cts-target="#subjects-table"
            aria-hidden="true">save changes</button>
        <table class="table table-bordered table-sm fw-bold my-4 editable" id="subjects-table">
            <thead class="text-center">
                <tr>
                    <th class="data-title" style="width: 25%;">Code</th>
                    <th class="data-title">Title</th>
                    <th class="data-title" style="width: 120px;">Type</th>
                    <th class="data-title" style="width: 90px;">Units</th>
                    <td class="edit-title">Action</td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr class="add-data">
                    <td>
                        <input id="code" type="text" class="form-control w-100 add-td-input unique reuse" title="Code">
                    </td>
                    <td>
                        <input id="title" type="text" class="form-control w-100 add-td-input reuse" title="Title">
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle add-td-input optional" type="button" id="type"
                                data-mdb-toggle="dropdown" aria-expanded="false" title="Type">Type</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" role="button">LEC</a></li>
                                <li><a class="dropdown-item" role="button">LAB</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input id="units" type="number" class="form-control w-100 add-td-input" title="Units">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="/lib/responsive-table.js"></script>
<script>
    const getSubjects = (collegeID) => new Promise((resolve, reject) => {
        $.get("http://localhost:3000/api/subjects/" + collegeID,
            (data, status) => {
                resolve(data.subjects);
            }, "json"
        ).fail((data) => reject(data));
    });

    const addSubject = (collegeID, subjData) => {
        $.post("http://localhost:3000/api/Subjects/" + collegeID, subjData,
            (data, status) => {
                console.log(data);
            }, "json"
        ).fail((data) => console.error(data));
    }

    const colleges = $(".panel-menu>button.menu-item");
    let collegeTitle = $(".table-title");
    if (colleges.length > 0) {
        let openCollege = colleges.get(0);
        $(openCollege).addClass("active");
        $(collegeTitle).text("Subjects offered in " + openCollege.title);

        // initialize responsive Departments table
        const subjectsTable = new ResponsiveTable("#subjects-table");
        subjectsTable.initData(getSubjects(openCollege.id), true);

        // retrieves the rooms from the chosen building
        $("button.menu-item").click((event) => {
            let activeItem = event.currentTarget;
            if (!$(activeItem).hasClass("active")) {
                openCollege = activeItem;
                $(".side-panel").hide();
                $("button.menu-item.active").removeClass("active");
                $(activeItem).addClass("active");
                subjectsTable.initData(getSubjects(activeItem.id), true);
                $(collegeTitle).text("Subjects offered in " + activeItem.title);
            }
        });

        $(subjectsTable.addBtn).click(async (event) => {
            try {
                let addedData = await $(event.currentTarget).data("newRow");
                if (addedData) { addSubject(openCollege.id, addedData); }
            } catch (error) {
                $(`${subjectsTable.body}:last-child`).remove();
                subjectsTable.data.pop();
            }
            
            $(event.currentTarget).removeData("newRow");
        });
    }
</script>