.side-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#faculty-table>tbody>tr>td:nth-child(2),
#faculty-table>tbody>tr>td:nth-child(3),
#subjects-table>tbody>tr>td:nth-child(3),
#subjects-table>tbody>tr>td:nth-child(4),
#subjects-table>tbody>tr>td:nth-child(5),
td:has(.td-input) {
    text-align: center;
}