html,
body {
    height: 100%;
}

.folder {
    margin-top: 12px;
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: max-content auto;
}

.folder>div {
    padding-left: 24px;
}

.folder-tabs-list {
    display: grid;
    padding-top: 24px;
}

.folder-tab {
    grid-row: 1;
    color: #efe5ef;
    margin-right: 10px;
    background-color: #0275d8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.folder-tab:hover {
    background-color: #0275d8AA;
}

input.display-limit {
    width: 70px;
    display: inline;
    margin-left: 8px;
    margin-right: 24px;
}

.category {
    padding: 25px 0 0 4%;
    text-align: start;
    background-color: thistle;
    display: inline-block;
    min-width: max-content;
    overflow-x: scroll;
    width: 100%;
}

.category>button.active {
    background-color: #efe5ef;
}

.folder-container {
    background-color: #efe5ef;
    padding: 0 4%;
}

tbody>tr.sched-row {
    cursor: pointer;
}

tbody>tr.sched-row:hover {
    color: #0275d8;
}

.top-bar>h4 {
    display: inline;
}

.schedules>div>h5 {
    display: none;
}

@media (max-width: 750px) {
    .schedules>div.blocks {
        grid-template-columns: 1fr;
    }

    .schedules>div>h5 {
        display: inline-block;
    }

    .schedules>div>h4 {
        display: none;
    }
}

@media (max-width: 553px) {
    .schedules {
        grid-template-rows: 95px 69px auto;
    }
}