html,
body {
    height: 100%;
}

th {
    vertical-align: middle;
}

.dashboard {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: auto;
    height: 100%;
    overflow: scroll;
}

.nav-bar {
    padding-bottom: 12px;
    text-align: center;
    height: 100%;
}

.nav-bar>a.task {
    height: 65px;
    width: inherit;
    display: block;
}

.task-view {
    position: relative;
    overflow-x: hidden;
    box-shadow: 3px 3px 8px #6c6c6daa;
}
.task-view>div {
    overflow-x: scroll;
    height: 100%;
}

.side-panel {
    display: none;
    width: 300px;
    background-color: white;
    box-shadow: -3px 3px 6px #6c6c6daa;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 24px 0;
    overflow-y: scroll;
}

.side-panel>div {
    justify-content: space-between;
    /* padding: 0 24px; */
}

.folder {
    margin-top: 12px;
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: max-content auto;
}

.folder>div {
    padding-left: 24px;
}

.folder-tabs-list {
    display: grid;
    padding-top: 24px;
}

.folder-tab {
    grid-row: 1;
    color: #efe5ef;
    margin-right: 10px;
    background-color: #0275d8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.folder-tab:hover {
    background-color: #0275d8AA;
}

input.display-limit {
    width: 70px;
    display: inline;
    margin-left: 8px;
    margin-right: 24px;
}

td.edit-action {
    width: 85px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
}

td.edit-action>div {
    display: flex;
    justify-content: space-between;
}

.category {
    padding: 25px 0 0 4%;
    text-align: start;
    background-color: thistle;
    display: inline-block;
    min-width: max-content;
    overflow-x: scroll;
    width: 100%;
}

.category>button.active {
    background-color: #efe5ef;
}

.folder-container {
    background-color: #efe5ef;
    padding: 0 4%;
}

tbody>tr.sched-row {
    cursor: pointer;
}

tbody>tr.sched-row:hover {
    color: #0275d8;
}

.top-bar>h4 {
    display: inline;
}

.schedules>div>h5 {
    display: none;
}

@media (max-width: 750px) {
    .schedules>div.blocks {
        grid-template-columns: 1fr;
    }

    .schedules>div>h5 {
        display: inline-block;
    }

    .schedules>div>h4 {
        display: none;
    }
}

@media (max-width: 553px) {
    .schedules {
        grid-template-rows: 95px 69px auto;
    }
}