/* Overrides default bootstrap fonts */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: bold;
}

label {
    font-size: medium !important;
}

p {
    font-family: 'Open Sans', sans-serif !important;
    font-size: medium !important;
}

hr {
    border-color: #8673b4;
    margin: 12px 0;
}

tfoot, thead {
    text-align: center;
    vertical-align: middle;
}

html,
body,
.tooltip,
.popover {
    font-family: 'Ubuntu', sans-serif !important;
}

code,
kbd,
pre,
samp,
.text-monospace {
    font-family: 'Noto Mono', monospace;
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

th[table-cts-column] {
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
}

td { vertical-align: middle; }
  
.img-body {
    position: relative;
    background-color: #0f0d11;
    height: 100vh;
}

.img-body::before {
    background: url("/images/plm-facade.jpeg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 60%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.btn-block[type=submit] {
    background: #1063b1ff linear-gradient(to right, #70a4d5ff, #1063b1ff);
}

.toggle-pass {
    background-color: #8673b4;
}

[table-cts-column = 'edit'] { 
    vertical-align: middle;
    font-weight: bold;
    width: 85px;
}

td.edit-action {
    /* width: 90px; */
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
}

td.edit-action>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-td-input:not(.dropdown-toggle), .td-input {
    width: 100%;
}

.dashboard {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: show;
}

.nav-bar {
    padding-bottom: 12px;
    width: 100%;
    height: 100%;
}

.nav-bar>a.task {
    padding: 8px 3px 12px 3px;
    height: 65px;
    text-align: center;
    border-radius: 0;
    width: inherit;
    display: block;
}

a#profile.task { margin-top: 54px; }

.task-view {
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 8px #6c6c6daa;
}

.task-view>div {
    overflow-x: scroll;
    height: 100%;
}

.side-panel {
    display: none;
    width: 300px;
    background-color: white;
    box-shadow: -3px 3px 6px #6c6c6daa;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 24px 0;
    z-index: 1;
}

.side-panel>.panel-body {
    overflow-y: scroll;
}

.task-view>div:last-child {
    padding-bottom: 50vh;
}

a.collapse-btn {
    align-items: center;
    padding: 2px 20px;
    width: 100%;
    text-align: start;
    color: #b9aadc;
    font-size: small;
    border-top: 0.5px solid #b9aadc;
}

.collapse > *, .collapsing > *, .collapse.show > * {
    padding: 12px 18px;
    box-shadow: 0 1px 5px inset #b6b3b977;
    background-color: #f3f3f333;
}

.collapsing > *, .collapse.show > * { margin: 0; }

.scheduler {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr;
    border-top: 1px solid black;
    /* grid-template-areas:
        'none day day day day day day day'
        'time sched sched sched sched sched sched sched'; */
    /* gap: 1px; */
}

.scheduler > div.days {
    /* grid-area: day; */
    display: grid;
    grid-template-columns: repeat(7, minmax(130px, 1fr));
    text-align: center;
    column-gap: 1px;
    padding: 0 1px;
    background-color: #0f0d11;
}

.scheduler > div.times  {
    /* grid-area: time; */
    /* width: 120px; */
    display: grid;
    grid-template-rows: repeat(16, 100px);
    text-align: center;
    background-color: #0f0d11;
    color: #8673b4;
    row-gap: 1px;
    padding: 1px 0;
}

.scheduler > div.schedules {
    position: relative;
    /* grid-area: sched; */
    background-color: black;
    border: 1px solid black;
}

div.days > *, div.times > * {
    background-color: whitesmoke;
}

div.schedules > .sched-grid {
    height: inherit;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(32, 50px);
    grid-template-columns: repeat(7, minmax(130px, 1fr));
    row-gap: 0.5px;
    column-gap: 1px;
}

.sched-grid > div { background-color: white; }

div.schedules > .sched-body {
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: repeat(32, 50px);
    grid-template-columns: repeat(7, minmax(130px, 1fr));
    row-gap: 0.5px;
    column-gap: 1px;
}

div.sched-body > div.sched-block {
    background-color: #b9aadc;
    padding: 8px 12px 8px 12px;
    margin: 2px 8px 4px 8px;
    border-radius: 12px;
    box-shadow: 0 1px 5px #b6b3b977;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stack-list > * {
    display: inline;
    margin-right: 8px;
    margin-top: 8px;
}

.pagination {
    /* width:100%; */
    margin: 0 24px 12px 24px;
}

.page-label {
    /* max-width: 100%; */
    margin: 0;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.pagination>li {
    width: 33.33%;
    min-width: 0;
}

ul.pagination>li.title {
    text-align:center;
    font-weight: bold;
    min-width: fit-content;
    margin: 0 32px;
    font-size: x-large;
    vertical-align:middle;
}