.side-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* div:last-child > div:has(.btn-top) {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px 48px 0 0;
} */

.semester-header {
    display: flex;
    min-width: fit-content;
    align-items: center;
    margin: 16px 0;
}

.semester-header>h6 {
    margin: 0 16px 0 0;
}

#term-status {
    font-weight: 800;
}

.pagination > li.page-title {
    font-weight: bold;
    font-size: xx-large;
    white-space: nowrap;
    justify-content: center;
}

ul.pagination>li {
    width: 33.33%;
    min-width: 0;
}

table>tbody>tr>td:not(td.edit-action) { cursor: default; }

#blocks-schedule { 
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#faculty-schedule>tbody>tr>td:nth-child(2),
#faculty-schedule>tbody>tr>td:nth-child(3),
#faculty-schedule>tbody>tr>td:nth-child(5),
#faculty-table>tbody>tr>td:nth-child(2),
#faculty-table>tbody>tr>td:nth-child(7),
td:has(.td-input) {
    text-align: center;
}