.side-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.semester-header {
    display: flex;
    min-width: fit-content;
    align-items: center;
    margin: 16px 0;
}

.semester-header>h6 {
    margin: 0 16px 0 0;
}

#term-status {
    font-weight: 800;
}

#term-title {
    color: #8673b4;
}

.pagination > li.page-title {
    font-weight: bold;
    font-size: xx-large;
    white-space: nowrap;
    justify-content: center;
}

ul.pagination>li {
    width: 33.33%;
    min-width: 0;
}

table>tbody>tr>td:not(td.edit-action) { cursor: default; }

#blocks-schedule { 
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#blocks-schedule>tbody>tr>td:nth-child(1),
#blocks-schedule>tbody>tr>td:nth-child(2),
#blocks-schedule>tbody>tr>td:nth-child(4),
#faculty-schedule>tbody>tr>td:nth-child(1),
#faculty-schedule>tbody>tr>td:nth-child(2),
#faculty-schedule>tbody>tr>td:nth-child(4),
#faculty-schedule>tbody>tr>td:nth-child(5),
#faculty-table>tbody>tr>td:nth-child(4),
#faculty-table>tbody>tr>td:nth-child(5),
td:has(.td-input) {
    text-align: center;
}

#faculty-table>tbody>tr>td:nth-child(7) {
    white-space: nowrap;
}

#accept-alert, #reject-alert {
    display: none;
}

#pref-form-control {
    display: grid;
    grid-template-columns: max-content 150px 150px max-content;
    column-gap: 8px;
    align-items: center;
    margin-top: 36px;
}