body { 
    overflow: hidden;
    display: grid;
    grid-template-rows: 65px 1fr;
}

.app-bar {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-view {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 0;
    overflow-y: hidden;
}

.main-view> div {
    overflow: scroll;
}

.panel-menu {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side-panel {
    display: grid;
    align-items: start;
}

.block-title {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#schedule-nav {
    justify-content: space-between;
}

nav { padding: 0 12px; }

.about {
    margin: 56px 12px 36px 70px;
}

.scheduler {
    margin-right: 12px;
    margin-bottom: 24px;
}

.modal-body>label { 
    font-weight: bold;
    margin-right: 6px;
}

.menu-item > .sched-options {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0f0d11;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: none;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

#class-day, #class-mode {
    width: 135px;
}

#class-subject, #class-block, #class-faculty, #class-hours {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#class-subject {
    white-space: break-spaces;
    text-overflow: ellipsis;
}

#reject-alert, #accept-alert {
    display: none;
}