<div class="bg-light task-view pt-4" id="preference-view">
    <h3 class="text-center mb-4">
        Faculty Schedule Preference Form<br>
        <small class="text-muted">A.Y. 20XX-20XX (x<sup>th</sup> Semester)</small>
    </h3>
    <hr>
    <div class="px-5">
        <label class="table-title fw-bold">Your Subject Expertises:</label>
        <div class="mb-4 mt-2 w-75 stack-list" id="subjects-list">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-rounded mt-1" type="button" id="day"
                    data-mdb-toggle="dropdown" aria-expanded="false">Add Field</button>
                <ul class="dropdown-menu" aria-labelledby="day">
                    <li><a class="dropdown-item" role="button">Human Computer Interaction</a></li>
                    <li><a class="dropdown-item" role="button">Intelligent Systems</a></li>
                    <li><a class="dropdown-item" role="button">Operating Systems</a></li>
                    <li><a class="dropdown-item" role="button">Introduction to Computing</a></li>
                    <li><a class="dropdown-item" role="button">CS Elective</a></li>
                    <li><a class="dropdown-item" role="button">Software Engineering 1</a></li>
                </ul>
            </div>
        </div>
        <label class="table-title fw-bold">Your Preferred Schedule:</label>
        <table class="table table-bordered table-sm fw-bold mt-2 mb-4 w-50 editable" id="preferred-schedule">
            <thead class="text-center">
                <tr>
                    <th table-cts-column="day text" style="width: 160px;">Day</th>
                    <th table-cts-column="start text">Time-in</th>
                    <th table-cts-column="end text">Time-out</th>
                    <td table-cts-column="edit">Action</td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr class="add-data">
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle add-td-input unique" type="button"
                                data-mdb-toggle="dropdown" aria-expanded="false">Day</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" role="button">Monday</a></li>
                                <li><a class="dropdown-item" role="button">Tuesday</a></li>
                                <li><a class="dropdown-item" role="button">Wednesday</a></li>
                                <li><a class="dropdown-item" role="button">Thursday</a></li>
                                <li><a class="dropdown-item" role="button">Friday</a></li>
                                <li><a class="dropdown-item" role="button">Saturday</a></li>
                                <li><a class="dropdown-item" role="button">Sunday</a></li>
                            </ul>
                        </div>
                    </td>
                    <td><input type="time" class="form-control add-td-input"></td>
                    <td><input type="time" class="form-control add-td-input"></td>
                </tr>
            </tfoot>
        </table>
        <button class="btn btn-primary text-center btn-rounded submit" type="button">Submit</button>
    </div>
</div>
<script src="/lib/responsive-table.js"></script>
<script>
    const prefSchedTable = new EditableTable("#preferred-schedule");
    const expertises = [];

    const subjectsList = $("div.stack-list#subjects-list");
    $(subjectsList).find(".dropdown-item").click((event) => {
        let itemVal = event.currentTarget.textContent;
        let newItem = $(`<button class="btn btn-outline-secondary btn-rounded stack-list-item" type="button">${itemVal}</button>`);
        let listItem = $(event.currentTarget).parent("li");
        $(newItem).click(() => {
            expertises.pop();
            $(newItem).remove();
            $(listItem).show();
        }).hover(
            () => $(newItem).addClass("btn-outline-danger").removeClass("btn-outline-secondary"),
            () => $(newItem).removeClass("btn-outline-danger").addClass("btn-outline-secondary")
        );
        $(event.currentTarget).closest(".dropdown").after(newItem);
        $(listItem).hide();
        expertises.push(itemVal);

    });

    $("button.submit").click(() => {
        $("#preference-view").empty().append("<h2>No Open Preference Forms</h2>");
        $("#alert-modal").attr({ "data-mdb-backdrop": "static", "data-mdb-keyboard": "false" });
        $("#alert-title").text("Your Preference is Recorded").addClass("text-success");
        $("#alert-body").html(
            "You're preferred subjects and schedule has been sent to the chairperson.<br>" +
            "Your final schedule for next semester will be posted by the chairperson."
        ).addClass("text-success");
        alertModal.show();
        // TODO: post answers to some api probableh
    });
</script>