<div class="bg-light task-view p-4 text-center" id="profile-view">
    <h4 style="color: #8673b4;">Welcome, professor!</h4>
    <p>You can view your class schedules and give your preferred time.</p>
</div>